.edit-loc {
    width: 0;
    height: 0;
    overflow: hidden;

    &.edit-loc-show {
        width: 815px;
        height: 352px;
        padding: 0 0 30px 25px;
        box-sizing: border-box;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 102;
    }
}