.tech-table {
    border: 1px solid rgba(1, 56, 77, 0.3) !important;
    &-main {
        border-collapse: collapse !important;
        // border:1px solid black;
        width: 100%;
        border-spacing: 0;

        thead {
            border-spacing: 0;
            background: #01384D;
            color: #fff;
            padding: 16px 30px !important;
            border: none !important;

            th {
                padding: 16px;
            }
        }

        tbody {
            tr:not(:last-child ) {
                border-bottom: 1px solid rgba(1, 56, 77, 0.3) !important;
                border-spacing: 2px;
            }
        }
    }

    &__btn-add {
        background: #01384D;
        border-radius: 8px;
        padding: 11px 34px;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        display: inline-block;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 99;
    }
    
    &-add {
        background-color: #fff;
        position: fixed;
        bottom: 0;
        right: 0;
        padding-right: 10px;
        padding-bottom: 10px;
        z-index: 77;
        height: 70px;
        display: block;
        width: 78.2%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}